// Cores
$color-primary: #440a67;
$color-secondary: #93329e;
$color-secondary-2: #AE338F;
$color-tertiary: #9163CC;
$color-quarternary: #b4aee8;
$color-quinary: #ffe3fe;


$color-grey-light-1: #e2bcbc;
$color-grey-light-2: #eee;

$color-invalid-input: 	#e90c0c;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-white-2: #FFFAFA;
$color-white-3: #F0FFF0;
$color-black:  #000;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;