#main-form {
    background-color: #ffffff
}

.label-text {
    font-weight: bold;
}

.question {
    background-color: yellow;
    width: auto;
}

.main {
    margin-top: 30px;
}

.divider {
    border-color: #ffffff;
}