* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #303237 !important;
}

.main-container {
    margin-top: 100px;;
}

.welcome {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
}

.intro {
    color: #ffffff
}