.main {
    margin-top: 40px;
    background-color: #ffffff
}

#list-wrapper {
    max-height: 800px;
}

.question {
    font-weight: bold;
    background-color: yellow;
    border: solid 1px black;
}
